.idea
*.iml
*.ipr
*.iws
out
*.factorypath

# Eclipse Project files
.classpath
.project
.settings/

# netbeans ignore
nbproject/
META-INF/
nbactions.xml
nb-configuration.xml

gen/
local.properties

.DS_Store
Thumbs.db

*.bak
*.tem
*.temp
*.log
#.swp
*.*~
~*.*

target/
logs/
mac-logs/

rebel.xml
rebel-remote.xml
